<%- include ("partials/Header") %>
<div class="container">
<h1 class="text-center mt-5">Lose It Challenge</h1>
<div class="mt-5">
<h2>Semana</h2>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Posición</th>
      <th scope="col">Nombre</th>
      <th scope="col">Peso</th>
      <th scope="col">Peso Anterior</th>
      <th scope="col">Peso Perdido</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>

      <td><%=post.username%></td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  
  </tbody>
</table>

</div>
</div>
<%- include ("partials/Footer") %>
